html * {
  box-sizing: border-box;
}

#search-page {
  padding: 27.5vh 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#title {
  text-align: center;
  margin: 1rem;
}

#search-bar {
  width: 80%;
  height: 2.5rem;
  margin: 0 10% 0 10%;
  display: inline-block;
  border-radius: .5rem;
  border: 1px solid black;
}

#search-bar-input {
  width: 89%;
  background-color: transparent;
  display: inline-block;
  font-size: 1.1em;
  border-radius: .5rem;
  border: 1px solid transparent;
  margin: 0;
  padding-left: 1%;
}

#search-bar-input:focus {
  outline: none;
}

#search-bar-input input {
  font-size: 2rem;
}

#search-button {
  border-radius: .5rem;
  border: 1px solid transparent;
  width: 10%;
  display: inline-block;
  background-color: transparent;
  margin: 0;
  height: 2.5rem;
  font-family: nerd-font;
  cursor: pointer;
}


#results-page {
  padding: 0 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#results-page-search-bar-input {
  height: 2rem;
  width: 75%;
}

#results-page-search-button {
  width: 20%;
}

#results {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page-number {
  color: hotpink;
  font-size: 1.5em;
}

.footer {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 1rem;
}

h1 {
  font-size: 5em;
}

h2 {
  text-align: center;
  font-size: 1em;
}

p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: blue;
}

body {
  background-color: #FFFFFF;
  color: black;
  font-family: Verdana;
  margin: 0;
  font-family: 'capriola';
}

@font-face {
  font-family: 'capriola';
  src: url(../fonts/Capriola-Regular.ttf)
}

@font-face {
  font-family: 'nerd-font';
  src: url(../fonts/SymbolsNerdFont-Regular.ttf)
}
