html * {
  box-sizing: border-box;
}

#search-page {
  padding: 10% 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#search-bar-input {
  height: 2rem;
  margin: 0 auto 2rem auto;
  width: 100%;
  display: block;
}

#search-button {
  margin-top: 10%;
  display: block;
  margin: 0 auto 0 auto;
  width: 30%;
}

#results-page {
  padding: 0 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#results-page-search-bar-input {
  height: 2rem;
  width: 75%;
}

#results-page-search-button {
  width: 20%;
}

#results {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page-number {
  color: hotpink;
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  text-align: center;
  font-size: 1em;
}

p {
  font-size: 1.2em;
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  margin: 0;
}