html * {
  box-sizing: border-box;
}

#search-page {
  padding: 27.5vh 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#title {
  text-align: center;
  margin: .5rem;
}

#search-bar {
  width: 80%;
  height: 2.5rem;
  margin: 0 10% 0 10%;
  display: flex;
  border-radius: .5rem;
  border: 1px solid black;
  border-color: var(--border-color);
}

#search-bar-input {
  background-color: transparent;
  display: inline-block;
  width: 90%;
  font-size: 1.1em;
  border-radius: .5rem;
  border: 1px solid transparent;
  margin: 0;
  padding-left: 1%;
  color: var(--text-color);
}

#search-bar-input:focus {
  outline: none;
  box-shadow: none;
}

#search-bar-input input {
  font-size: 2rem;
}

#search-button {
  border-radius: .5rem;
  border: 1px solid transparent;
  width: 10%;
  display: inline-block;
  background-color: transparent;
  margin: 0;
  height: 2.5rem;
  font-family: nerd-font;
  cursor: pointer;
}


#results-page {
  padding: 0 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#results-page-search-bar-input {
  height: 2rem;
  width: 75%;
}

#results-page-search-button {
  width: 20%;
}

#results {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page-number {
  color: hotpink;
  font-size: 1.5em;
}

#header{
  position: absolute;
  right: 0;
  padding: 1rem;
}

#footer {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 1rem;
  text-align: center;
  font-size: 1em !important;
  color: var(--footer-text-color);
}

@media (max-width: 600px) {
  #search-page {
    padding: 25% 0 0 0 !important;
  }
  
  h1 {
    font-size: 3em !important;
  }
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 1em;
}

p {
}

a {
  text-decoration: none;
}

:root {
  --bg-color: #FFFFFF;
  --text-color: black;
  --border-color: black;
  --placeholder-color: #595c5f;
  --footer-text-color: #3D3D3D;
}

body.dark-mode {
  --bg-color: #222428;
  --text-color: white;
  --border-color: white;
  --placeholder-color:#a6a3a0;  
  --footer-text-color: #C2C2C2;
}

#search-bar-input::placeholder{
  color: var(--placeholder-color)
}

#search-button{
  color: var(--placeholder-color)
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'capriola';
}

@font-face {
  font-family: 'capriola';
  src: url(../fonts/Capriola-Regular.ttf)
}

@font-face {
  font-family: 'nerd-font';
  src: url(../fonts/SymbolsNerdFont-Regular.ttf)
}
