html * {
  box-sizing: border-box;
}

#results-page {
  padding: 0 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#header {
  padding: 0 20% 0 20%;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

#search-bar-input {
  height: 2rem;
  font-size: 1.25em;
  width: 75%;
  margin: 0 0 1rem 0;
}

#search-button {
  font-size: 1.25em;
  width: 20%;
  height: 2rem;
  margin: 0 0 1rem 0;
}

#results {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

.page-number {
  color: blue;
  font-size: 1.5em;
}

.search-result {
  width: 100%;
  margin: 2rem 0 2rem 0;
  position: relative;
  display: block;
}


.site-title {
  font-size: 1.75em;
  margin: 0 0 1rem 0;
  width: 90%;
}

.site-title a {
  color: blue;
}

.site-url {
  margin: 0;
}

.profile-url {
  margin: 0;
}

.no-results {
  width: 80%;
  font-size: 2em;
  text-align: center;
}

#page-navigation {
  margin: 2rem 0 2rem 0;
}

#page-navigation a {
  margin-right: 1rem !important;
  font-size: 1.5em !important;
}

h1 {
  font-size: 3em;
}

h2 {
  text-align: center;
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: white;
  color: black;
  font-family: Verdana;
  margin: 0;
  font-family: 'capriola';
}

@font-face {
  font-family: 'capriola';
  src: url(../fonts/Capriola-Regular.ttf)
}

@font-face {
  font-family: 'alice';
  src: url(../fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: 'Fredoka';
  src: url(../fonts/Fredoka.ttf);
}

@font-face {
  font-family: 'Frutiger';
  src: url(../fonts/Frutiger.ttf);
}

@font-face {
  font-family: 'NEC_AP3';
  src: url(../fonts/NEC_AP3.ttf);
}

@font-face {
  font-family: 'nunito';
  src: url(../fonts/Nunito.ttf);
}

@font-face {
  font-family: 'PixelifySans';
  src: url(../fonts/PixelifySans.ttf);
}

@font-face {
  font-family: 'rainyhearts';
  src: url(../fonts/rainyhearts.ttf);
}

@font-face {
  font-family: 'remington';
  src: url(../fonts/remington.ttf);
}

@font-face {
  font-family: 'Segoe-UI-Semilight';
  src: url(../fonts/Segoe-UI-Semilight.ttf);
}

@font-face {
  font-family: 'short-stack';
  src: url(../../fonts/ShortStack.ttf);
}

@font-face {
  font-family: 'space-grotesk';
  src: url(../fonts/SpaceGrotesk.ttf);
}

@font-face {
  font-family: 'kosugi-maru';
  src: url(../fonts/KosugiMaru.ttf);
}

@font-face {
  font-family: 'Arial-Narrow';
  src: url(../fonts/arialnarrow.ttf);
}
